{% extends 'lugares/base.html' %}

{% block title %}Lugares Aprobados - CultureMap{% endblock %}

{% block content %}
    <h1>Lugares de interés aprobados</h1>
    
    <ul>
        {% for lugar in lugares %}
            <li>
                <a href="{% url 'detalle_lugar' lugar.pk %}">
                    {{ lugar.nombre }}
                </a>
                - {{ lugar.get_categoria_display }}
            </li>
        {% empty %}
            <li>No hay lugares aprobados todavía.</li>
        {% endfor %}
    </ul>
{% endblock %}