{% extends 'lugares/base.html' %}
{% block title %} Todos los lugares (algunos sin aprobar) - CultureMap {% endblock %}
{%block content%}
    <h1> Todos los lugares aprobados </h1>
    <ul>
        {% for lugar in lugares %}
            <li>
                <a href="{% url 'detalle_lugar' lugar.pk %}">
                    {{ lugar.nombre }}
                </a>
                - {{ lugar.get_categoria_display }}
            </li>
        {% empty %}
            <li>No hay lugares todavía.</li>
        {% endfor %}
    </ul>
{%endblock%}